<div class="topdown">
    <div class="row">
        <div class="col-sm-2 ">
            <app-sidenav></app-sidenav>
           
        </div>
        <div class="col-sm-10">
            <div class="Homeimg">
                <h1 class="matter" display-4>
                    FITNESS WORKING OUT
                    <br>
                    MAKES
                    <br>
                    ME FEEL
                    <br>
                    FREE AND ALIVE.
                </h1>
                <a  routerLink="/placeappointment" class="md display-5 btn-primary btn-block ">Apply For Trainer</a>
            </div>
        </div>
    </div>