<div class="topdown">
    <div class="row">
        <div class="col-md-2 ">
            <app-sidenav></app-sidenav>

        </div>
        <div class="col-md-10">
            <div class=" cnt container">
                <div class="main-title">
                    <h2>Contact Me</h2>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="contact-boxes">
                            <div class="contact-box">
                                <div class="title-box">
                                    <h4>Location
                                        <span class="icon-box"><i class="fa fa-map-marker"></i></span>
                                    </h4>
                                </div>
                                <div class="content-box">
                                    <p>Alchemy Center Bangalore</p>
                                </div>
                            </div>
                            <div class="contact-box">
                                <div class="title-box">
                                    <h4>Email
                                        <span class="icon-box"><i class="fa fa-envelope"></i></span>
                                    </h4>
                                </div>
                                <div class="content-box">
                                    <p>yashwant@gmail.com</p>
                                    <p>meghana@gmail.com</p>
                                    <p>chandrakala@gmail.com</p>
                                    <p>samadarshini711@gmail.com</p>
                                </div>
                            </div>
                            <div class="contact-box">
                                <div class="title-box">
                                    <h4>Phone
                                        <span class="icon-box"><i class="fa fa-phone"></i></span>
                                    </h4>
                                </div>
                                <div class="content-box">
                                    <p>7306662927</p>
                                    <p>8074265067</p>
                                    <p>9000154808</p>
                                    <p>9493052180</p>
                                </div>
                            </div>
                            <div class="contact-box">
                                <div class="title-box">
                                    <h4>Website
                                        <span class="icon-box"><i class="fa fa-globe"></i></span>
                                    </h4>
                                </div>
                                <div class="content-box">
                                    <p>www.fitness.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">


                        <div class="row mb-4">
                            <div class="col-md-4">
                                <a href="https://source.unsplash.com/random/560x560" data-toggle="lightbox"
                                    data-gallery="img-gallery" data-height="560" data-width="560">
                                    <img src="assets/exe4.jpg" alt="" class="img-fluid">
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="https://source.unsplash.com/random/561x561" data-toggle="lightbox"
                                    data-gallery="img-gallery" data-height="561" data-width="561">
                                    <img src="assets/exe3.jpg" alt="" class="img-fluid">
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="https://source.unsplash.com/random/562x562" data-toggle="lightbox"
                                    data-gallery="img-gallery" data-height="562" data-width="562">
                                    <img src="assets/exe2.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-4">
                                <a href="https://source.unsplash.com/random/563x563" data-toggle="lightbox"
                                    data-gallery="img-gallery" data-height="563" data-width="563">
                                    <img src="assets/exe5.jpg" alt="" class="img-fluid">
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
                                    data-width="564">
                                    <img src="assets/exe6.jpg" alt="" class="img-fluid">
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="https://source.unsplash.com/random/565x565" data-toggle="lightbox"
                                    data-gallery="img-gallery" data-height="565" data-width="565">
                                    <img src="assets/exe7.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>