<div class="sidenav">
    <div class=" " style="width: 10rem;">
        <ul class="nav flex-column ">
            <li class="nav-item ">
                <a class="nav-link btn-primary active" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/placeappointment">Place Appointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " routerLink="/viewappointment">View Appoinment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " routerLink="/contactus">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
